# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*
Makefile

# Files created by GNU autotools
# If commented out, we need to provide them in source tarball
# Files created by aclocal
autom4te.cache/
#aclocal.m4
# Files created by autoheader
#config.h.in
# Files created by automake
#ar-lib
#depcomp
#install-sh
#missing
#Makefile.in
# Files created by autoconf
#configure
# Files created by configure
config.h
config.log
config.status
*~

# Files created by make
stamp-h1
mythsubtitles/mythsubtitles
mythsubtitles/mythsubtitles.mak
mythsubtitles/mythsubtitles.pro
src/.deps/
src/cc2subtitles
src/decodempeg
src/myburn
src/mytranscode
src/stripivtv
src/tweakdvdxml.py

# My stuff
j[0-9]
go
.*.swp
